.pattern {
    background-image: url("../img/pattern.png");
    background-color: blue;
    padding-top: 5%;
    padding-bottom: 5%;

}

.subtitle {
    color: gray;
}

strong {
    color: blue;
}

figure {
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.logo {

    width: 20%;
}

.lista {
    padding-inline-start: 10px;
}

th {
    padding-right: 50px;
}

.left{
    text-align: left;
}
.blu{
    background-color: rgb(72, 72, 238);
    color: white;
}
.azzurro{
    background-color: rgb(148, 187, 245);
}

.finaltitle{
    font-size: 18px;
    color: gray;
}

.immagini{
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.immagine1{
    background-image: url("../img/monitor.jpg");
    width: 200px;
    height: 200px;
}
.immagine2{
    background-image: url("../img/graph.jpg");
    width: 200px;
    height: 200px;
}